/* Общие стили */  
*,  
*:after,  
*:before {  
  box-sizing: border-box;  
}  

:root {  
  scrollbar-color: rgb(210, 210, 210) rgb(46, 54, 69) !important;  
  scrollbar-width: thin !important;  
}  

body {  
  margin: 0;  
  font-family: "Exo 2", sans-serif;  
}  

a {  
  text-decoration: none;  
  cursor: pointer;  
  transition: 0.5s;  
}  

ul {  
  position: relative;  
  left: -40px;  
  width: 100%;  
}  

li {  
  list-style: none;  
  margin: 20px 0;  
  width: 100%;  
  line-height: 1.4em;  
}  

.text-line-height {  
  line-height: 1.4em;  
}  

.text-bold {  
  font-weight: bold;  
}  

/* Элементы */  
em {  
  color: #3399ff;  
  font-weight: 700;  
  font-size: 0.8em;  
  display: block;  
}  

label {  
  color: #3399ff;  
  font-weight: 700;  
  font-size: 0.8em;  
  margin: 10px 0;  
}  

img {  
  max-width: 90%;  
  height: auto;  
  margin: auto;  
}  

.title {  
  font-size: 2em;  
  font-family: "Ubuntu", sans-serif;  
  font-weight: 700;  
}  

.container {  
  width: 100%;  
  position: relative;  
  margin-bottom: 20px;  
}  

.section_left {  
  width: 25%;  
  min-height: 110vh;  
  padding: 20px;  
  background: #1b2631;  
  color: #fff;  
}  

.section_left img {  
  width: 90px;  
  height: 90px;  
  border-radius: 50%;  
}  

.progress_container {  
  width: 90%;  
  height: 10px;  
  border-radius: 20px;  
  background: #1e1e1e;  
}  

.progress_bar {  
  background: #3399ff;  
  border-radius: 20px;  
  height: 10px;  
}  

.section_right {  
  padding: 30px;  
  width: 75%;  
  float: right;  
  position: absolute;  
  top: 0;  
  right: 0;  
}  

.section_right table {  
  width: 100%;  
}  

.section_right table td {  
  padding: 10px;  
}  

.section_right table td:nth-child(1) {  
  width: 50%;  
  font-weight: bold;  
}  


@media (max-width: 920px) {  
  .section_left,  
  .section_right {  
    width: 100%;  
    display: block;  
  }  

  .section_right {  
    position: static;  
  }  
}